.shift{
    padding-left:30px;
}
.btn {
    background: #b3b3b3;
    background-image: -webkit-linear-gradient(top, #b3b3b3, #c4c4c4);
    background-image: -moz-linear-gradient(top, #b3b3b3, #c4c4c4);
    background-image: -ms-linear-gradient(top, #b3b3b3, #c4c4c4);
    background-image: -o-linear-gradient(top, #b3b3b3, #c4c4c4);
    background-image: linear-gradient(to bottom, #b3b3b3, #c4c4c4);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: black;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .btn1 {
    background: #b3b3b3;
    background-image: -webkit-linear-gradient(top, #b3b3b3, #c4c4c4);
    background-image: -moz-linear-gradient(top, #b3b3b3, #c4c4c4);
    background-image: -ms-linear-gradient(top, #b3b3b3, #c4c4c4);
    background-image: -o-linear-gradient(top, #b3b3b3, #c4c4c4);
    background-image: linear-gradient(to bottom, #b3b3b3, #c4c4c4);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: black;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  .btn1:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  

  .align{
      width: 20%;
  }
  .left{
      width: 30px;
      height: 30px;
      float: right;
      position: absolute;
      left: 30px;
      padding-left: 30px; 
  }
  .top{
    width: 60px;;
  }
